@font-face {
    font-family: ORANGEKid;
    src: url(assets/fonts/ORANGE\ KID.OTF)format("opentype");
}

body {
    background: url("./pokemon-bg.jpg") no-repeat;
    background-size: cover;
    font-family: ORANGEKid;
}

#content-box {
    width: 1600px;
    height: 1200px;
    border: 10px solid lightgray;
    border-radius: 10px;

    /* background-color: green; */
    display: flex;
    margin: 0 auto;
    margin-top: 60px;

    background: url("assets/pics/pokedex.png") no-repeat;
    background-size: contain;
}

#pokemon-name{
    position: absolute;
    top: 1080px; left: 363px;
    font-size: 50px;
    
}

#pokemon-info {
    text-align: left;
    width: 250px;
    height: 500px;
}

#pokemon-list {
    position: absolute;
    top: 1065px; left: 1398px;
    width: 200px;
    height: 50px;
    font-size: 24px;
    overflow-y: scroll;
    scroll-behavior: smooth;

}

#pokemon-list :hover{
    cursor: pointer;
    background-color: yellow;

}

.pokemon-name { /*Box*/
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin: 5px;
    padding: 5px;

}

#pokemon-info img {
    position: absolute;
    top: 410px; left: 390px;
    width: 320px;
    height: 320px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #E1E1E1;
}

#pokemon-types {
    position: absolute;
    top: 1058px; left: 1116px;
    text-align: center;
    margin-top: 10px;
    font-size: 35px;
}

.type-box {
    padding: 3px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 10px;
}


.normal {
    background-color: beige;
    color: black;
}

.fire {
    background-color: orange;
    color: white;
}

.grass {
    background-color: green;
    color: white;
}

.water {
    background-color: blue;
    color: white;
}

.ice {
    background-color: lightblue;
    color: black;
}

.electric {
    background-color: gold;
    color: black;
}

.fighting {
    background-color: darkred;
    color: white;
}

.flying {
    background-color: skyblue;
    color: black;
}

.bug {
    background-color: yellowgreen;
    color: white;
}

.ghost {
    background-color: purple;
    color: white;
}

.rock {
    background-color: sienna;
    color: white;
}

.ground {
    background-color: burlywood;
    color: black;
}

.steel {
    background-color: silver;
    color: black;
}

.dark {
    background-color: darkgray;
    color: white;
}

.psychic {
    background-color: palevioletred;
    color: white;
}

.fairy {
    background-color: pink;
    color: black;
}

.dragon {
    background-color: teal;
    color: white;
}

.poison {
    background-color: darkviolet;
    color: white;
}

#pokemon-description {
    position: absolute;
    top: 440px; left: 1100px;
    color: white;
    width: 540.53px;
    height: 195.5px;
    background-color: #084035;
    border: 1px solid black;
    border-radius: 10px;

    margin: 0 auto;
    margin-top: 10px;
    padding: 2px;
    font-size: 35px;
    overflow-y: auto;
}